body {
  background-color: black;
}

.app {
  display: flex;
  padding: 30px;
}
.game {
  width: 600px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
}
.game div {
  width: 70px;
  height: 70px;
  border: 1px solid black;
}
.flex {
  display: flex;
  justify-content: center;
}